@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400;1,700&family=Unica+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  main {
    width: calc((100% / 12) * 11);
    max-width: 2280px;
    padding: 0px calc((100% / 11) * .5);
  }
  p {
    @apply mb-3
  }
  p a {
    @apply underline hover:text-secondary
  }
  #nav-wrap.active {
    @apply w-full bg-white dark:bg-primary
  }
  #menuToggle span {
    @apply block w-6 h-[2px] mb-[6px] relative bg-white rounded-sm z-10 transition-all origin-top-right
  }
  #menuToggle span:last-child {
    @apply mb-0
  }
  #menuToggle input:checked ~ span:nth-child(2) {
    transform: rotate(-45deg) translate(-4px, -3px);
    height: 3px;
  }
  #menuToggle input:checked ~ span:nth-child(3) {
    transform: translateX(100px);
    opacity: 0;
  }
  #menuToggle input:checked ~ span:last-of-type {
    transform: rotate(45deg) translate(-1px, 3px);
    height: 3px;
  }
  nav {
    transform: translateY(-50%);
  }
  .nav-items a {
    @apply mb-8 md:mb-4 px-4 md:px-0 font-bold text-xl md:text-base relative hover:text-secondary bg-white dark:bg-primary
  }
  .nav-items a:before {
    @apply absolute top-2/4 -left-[50vw] md:-left-16 w-[150vw] md:w-12 border-b-[1px] border-secondary content-[''] scale-0 z-[-1]
  }
  .nav-items a.active:before {
    @apply scale-100 transition-transform
  }
  #darkLightSwitch.in {
    transform: rotateY(-90deg) translateZ(0px);
  }
  #darkLightSwitch.out {
    transform: rotateY(90deg) translateZ(14px);
  }
  .content-body p, .content-body h2 {
    @apply max-w-3xl
  }
  .content-body img {
    @apply md:mt-12 mb-12 md:min-w-0 w-full max-w-4xl
  }
  .content-body img:first-child {
    @apply mt-12
  }
  /* .sidebar-icon {
    @apply relative flex items-center justify-center
      h-12 w-12 mt-2 mb-2 mx-auto
      bg-gray-200 dark:bg-zinc-700 text-secondary
      hover:bg-secondary hover:text-white
      dark:hover:text-white dark:hover:bg-secondary
      rounded-3xl hover:rounded-xl
      transition-all duration-300 ease-linear
      cursor-pointer;
  } 
  nav a.active .sidebar-icon {
    @apply 
      bg-secondary text-white
      dark:text-white hover:bg-secondary
      rounded-xl
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
      rounded-md shadow-md
      text-black bg-gray-200
      dark:text-white dark:bg-zinc-700
      text-xs font-bold
      transition-all duration-100 scale-0 origin-left
  }
 #chevron {
    @apply absolute bottom-4 -right-8
  } */
}