@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400;1,700&family=Unica+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  main {
    width: calc((100% / 12) * 11);
    max-width: 2280px;
    padding: 0px calc((100% / 11) * .5);
  }
  nav {
    transform: translateY(-50%);
  }
  .nav-items a {
    @apply mb-4 font-bold relative hover:text-secondary
  }
  .nav-items a:before {
    @apply absolute top-2/4 -left-16 w-12 border-b-[1px] border-secondary content-[''] scale-0
  }
  .nav-items a.active:before {
    @apply scale-100 origin-left transition-transform
  }
  #darkLightSwitch.in {
    transform: rotateY(-90deg) translateZ(0px);
  }
  #darkLightSwitch.out {
    transform: rotateY(90deg) translateZ(14px);
  }
  form input, form textarea, form button {
    outline: none !important;
  }
  form input, form textarea {
    @apply appearance-none w-full bg-transparent border-b-[1px] border-b-primary dark:border-b-white active:border-b-secondary focus:border-b-secondary dark:active:border-b-secondary dark:focus:border-b-secondary
  }
  form label {
    @apply absolute translate-y-4 scale-100 -top-4 left-0 text-primary dark:text-white transition-all
  }
  form input:focus + label, form textarea:focus + label, form input:not(:placeholder-shown) + label, form textarea:not(:placeholder-shown) + label {
    @apply -translate-y-2 -left-[2px] scale-90 text-secondary
  }
  /* .sidebar-icon {
    @apply relative flex items-center justify-center
      h-12 w-12 mt-2 mb-2 mx-auto
      bg-gray-200 dark:bg-zinc-700 text-secondary
      hover:bg-secondary hover:text-white
      dark:hover:text-white dark:hover:bg-secondary
      rounded-3xl hover:rounded-xl
      transition-all duration-300 ease-linear
      cursor-pointer;
  } 
  nav a.active .sidebar-icon {
    @apply 
      bg-secondary text-white
      dark:text-white hover:bg-secondary
      rounded-xl
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
      rounded-md shadow-md
      text-black bg-gray-200
      dark:text-white dark:bg-zinc-700
      text-xs font-bold
      transition-all duration-100 scale-0 origin-left
  }
 #chevron {
    @apply absolute bottom-4 -right-8
  } */
}