@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center
      h-12 w-12 mt-2 mb-2 mx-auto
      bg-gray-200 dark:bg-zinc-700 text-secondary
      hover:bg-secondary hover:text-white
      dark:hover:text-white dark:hover:bg-secondary
      rounded-3xl hover:rounded-xl
      transition-all duration-300 ease-linear
      cursor-pointer;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
      rounded-md shadow-md
      text-black bg-gray-200
      dark:text-white dark:bg-zinc-700
      text-xs font-bold
      transition-all duration-100 scale-0 origin-left
  }
  #darkLightSwitch {
    @apply mt-auto mx-auto mb-4 text-gray-400
    hover:text-secondary dark:hover:text-secondary
    cursor-pointer
  }
  #chevron {
    @apply absolute bottom-4 -right-8
  }
}