img {
	margin: 60px 0;
}

.side-by-side {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#mi-home img {
	height: 100%;
}

.left {
	margin-right: 5px;
}

.middle {
	margin-left: 5px;
	margin-right: 5px;
}

.right {
	margin-left: 5px;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 30px;
	color: #f61067;
}

#triple img {
	max-width: 300px;
}

#mi-sol-menu, #mi-sol-final img {
	max-width: 400px;
}

.guidelines {
	/*max-width: 600px;*/
}

.guideline {
	display: flex;
	flex-direction: column;
}

.guideline img {
	margin-bottom: 10px;
	margin-top: 10px;
}

.caption {
	font-size: 14px;
	margin: 5px 5px 60px 5px;
}

#break {
	margin-bottom: 5px;
}

.text-body {
	display: flex;
	flex-direction: column;
	z-index: 1;
	text-align: justify;
	max-width: 700px;
}

@media screen and (max-width: 1200px) {
	.wide {
		flex-direction: column;
	}
	#mi-home img {
		width: 100%;
	}
	.wide .left {
		margin-bottom: 5px;
		margin-right: 0px;
	}
	.wide .right {
		margin-top: 5px;
		margin-left: 0px;
	}

}

@media screen and (max-width: 768px) {
	.wireframes {
		flex-direction: column;
	}
	.wireframes .left {
		margin-bottom: 5px;
		margin-right: 0px;
	}
	.wireframes .middle {
		margin: 5px 0 5px 0;
	}
	.wireframes .right {
		margin-top: 5px;
		margin-left: 0px;
	}
}