body {
	margin: 0px;
	padding: 40px;
  background-color: #1a1a1b;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  position: relative;
}

h1 {
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 5px;
	color: #fff;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 40px;
	z-index: 1;
}

h2 {
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	margin-top: 0px;
}

img {
	max-width:100%;
}

.header {
	display: flex;
	flex-direction: column;
	max-width: 601px;
	align-items: center;
}

.header-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.stripe {
	background-color: #f61067;
	width: 125px;
  height: 700px;
  position: absolute;
	-ms-transform: rotate(135deg); /* IE 9 */
  -webkit-transform: rotate(135deg); /* Safari 3-8 */
  transform: rotate(135deg);
  z-index: 0;
}

.top-stripe {
	top: -200px;
  right: 45px;
}

.bottom-stripe {
}

.container {
}

.prev-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.preview {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2s ease;
	opacity: 1;
}

.preview a {
	margin: 10px;
	max-width: 600px;
	max-height: 300px;
}

.preview:hover {
	opacity: 0;
}

.content-body {
	max-width: 700px;
	display: flex;
	
}

@media screen and (max-width: 950px) {
	.top-stripe {
		/*display: none;*/
	}
}

@media screen and (max-width: 768px) {
	.prev-row {
		flex-wrap: wrap;
	}
}