html {
	overflow-x: hidden;
}

body {
	margin: 0px;
	padding: 40px;
  background-color: #1a1a1b;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  position: relative;
}

h1 {
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 5px;
	color: #fff;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: -4px;
	z-index: 1;
}

h2 {
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	margin-top: 0px;
}

p {
	color: #fff;
	font-size: 18px;
}

a {
	color: #f61067;
}

img {
	max-width:100%;
}

ul {
	color: #fff;
}

.home-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
  margin-left: 10px;
}

.header-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.stripe {
	background-color: #f61067;
	width: 125px;
  height: 700px;
  position: absolute;
  top: -200px;
  right: 45px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari 3-8 */
  transform: rotate(-45deg);
  z-index: 0;
  -webkit-transition: all 0.35s ease;  
  -moz-transition: all 0.35s ease;  
  -o-transition: all 0.35s ease;  
  -ms-transition: all 0.35s ease;  
  transition: all 0.35s ease;
}

.transition-active {
	z-index: 10;
  right: -1000px;
  top: -1200px;
  width: 2700px;
  height: 2500px;
}

.pink-cover {
	background-color: #f61067;
	width: 2500px;
  height: 2500px;
	position: absolute;
  z-index: 10;
  right: -1000px;
  top: -1200px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari 3-8 */
  transform: rotate(-45deg);
  -webkit-transition: all 0.35s ease;  
  -moz-transition: all 0.35s ease;  
  -o-transition: all 0.35s ease;  
  -ms-transition: all 0.35s ease;  
  transition: all 0.35s ease;
}

.pink-transition-active {
	width: 125px;
  height: 700px;
  top: -200px;
  right: 45px;
  z-index: 0;
}

.info {
	display: flex;
	flex-direction: row;
}

.about-me {
	display: flex;
	z-index: 1;
}

.about-me p {
	font-size: 16px;
	text-align: justify;
	max-width: 550px;
}

.home-links {
	display: flex;
	flex-direction: column;
	margin: 16px 0 0 50px;
	z-index: 1;
}

.home-links a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 10px 0 0 0;
	color: #fff;
}

#email {
	margin-top: 3px;
}

.home-links a:hover {
	color: #f61067;
}

.subpage-container {
	display: flex;
	justify-content: center;
}

.prev-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.preview {
	z-index: 1;
	position: relative;
	width: 600px;
	display: flex;
	justify-content: center;
}

.image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2s ease;
	opacity: 1;
	z-index: 1;
}

.preview-image {
	margin: 10px;
	max-width: 600px;
	max-height: 300px;
}

.image-container:hover {
	opacity: 0;
}

.sub-preview-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
}

.sub-preview-text h2 {
	margin-bottom: 5px;
}

.sub-preview-text p {
	color: #f61067;
	margin-top: 0px;
}


/*Styles for non-home pages*/

.page-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-container img {
	z-index: 1;
	margin: 80px 0 104px 0;
}

.content-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nav-list {
	display: flex;
	flex-direction: row;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 0 10px;
}

nav ul {
	padding: 0px;
	display: flex;
}

nav li {
	color: #fff;
	list-style: none;
}

nav li:hover {
	color: #f61067;
}

.restrict-img {
	max-width: 700px;
}

.list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

@media screen and (max-width: 950px) {

}

@media screen and (max-width: 768px) {
	.info {
		flex-direction: column;
	}
	.home-links {
		margin: 0px;
	}
	.prev-row {
		flex-wrap: wrap;
	}
	#email {
		margin-top: 0px;
	}
	nav ul {
		flex-direction: column;
		text-align: center;
	}
	nav a {
		margin: 5px 10px;
	}
	.restrict-img {
		max-width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.list {
		flex-direction: column;
	}
}

@media screen and (max-width: 425px) {
	h1 {
		font-size: 34px;
	}
	.sub-preview-text {
		display: none;
	}
}

