img {
	margin: 60px 0;
}

.side-by-side {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.side-by-side img {
	height: 100%;
}

.left {
	margin-right: 5px;
}

.right {
	margin-left: 5px;
}

.text-body {
	display: flex;
	flex-direction: column;
	z-index: 1;
	text-align: justify;
	max-width: 700px;
}

@media screen and (max-width: 1200px) {
	.side-by-side {
		flex-direction: column;
	}
	.side-by-side img {
		width: 100%;
	}
	.side-by-side .left {
		margin-bottom: 5px;
		margin-right: 0px;
	}
	.side-by-side .right {
		margin-top: 5px;
		margin-left: 0px;
	}

}

@media screen and (max-width: 768px) {

}